<!--<footer id="footer">-->
  <div class="container text-center"> <!--bg-light-->
    <span class="text-muted small">ODM360 v{{ g.version }}</span>
    <span class="text-muted small">Lat: </span><span class="text-muted small" id="lat">-</span>
    <span class="text-muted small">Lon: </span><span class="text-muted small" id="lon">-</span>
    <span class="text-muted small">Z: </span><span class="text-muted small" id="alt">-</span>
    <span class="text-muted small">Fix: </span><span class="text-muted small" id="mode">-</span>
    <span class="text-muted small">S: </span><span class="text-muted small" id="sats">-</span>
    <span class="text-muted small">PDOP: </span>
    <span class="text-muted small"> | </span>
    <span class="text-muted small">O: </span><span class="text-muted small" id="cam_total">-</span><span class="text-muted small">/</span><span class="text-muted small" id="cam_required1">-</span>
    <span class="text-muted small">R: </span><span class="text-muted small" id="cam_ready">-</span><span class="text-muted small">/</span><span class="text-muted small" id="cam_required2">-</span>
    <span class="text-muted small">C: </span><span class="text-muted small" id="cam_capture">-</span><span class="text-muted small">/</span><span class="text-muted small" id="cam_required3">-</span>
  </div>
<!--  <div class="container text-center bg-light"><span class="text-muted small">ODM360 v{{ g.version }}</span></div>-->
<!--</footer>-->
