nav.navbar {
    background-color: steelblue!important;
}

.navbar-nav .nav-link.active {
    font-weight-bold;
}

footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: steelblue;
   color: white;
   text-align: center;
}
#mapid {
    margin-bottom: 20px;
    height: 500px;
}