<html> <!--lang="en" style="position:relative; min-height: 100%;">-->
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>ODM 360</title>
    {% block styles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap.min.css') }}">
    <style>
            #footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                height: 25px;
                margin-top: 1em;
                background: white;
                display: inline-block;
                flex-grow: 0;
                z-index: -1;
            }
    </style>
    {% endblock %}
    {% endblock %}
  </head>
  {% include "navbar.html" %}
<!--    <main style="flex-grow: 1;">-->
    {% block content %}
    {% include "footer.html" %}
    {% endblock %}
<!--  </main>-->
    {% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-3.5.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>

    {% endblock %}
  </body>
</html>
