{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-table.min.css') }}">

{{super()}}
{% endblock %}

{% block content %}
<!-- <body id="main">-->
<!--<div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--                <b>Camera: </b>-->
<!--            </div>-->
<!--            <div id=output0 class="col">-->
<!--                <b>STATUSS!!!</b>-->
<!--            </div>-->
<!--        </div>-->
<!--</div>-->
<!-- </body>-->
<div class="container">
    <table id="table">
        <thead>
          <tr>
            <th data-field="device_no" data-sortable="true">Device no.</th>
            <th data-field="device_uuid" data-sortable="true">Device uuid</th>
            <th data-field="device_name" data-sortable="true">Device name</th>
<!--            <th data-field="ip" data-sortable="true">IP address</th>-->
            <th data-field="status" data-sortable="true">Status</th>
            <th data-field="last_photo" data-sortable="true">Last photo</th>
<!--            <th data-field="actions" data-formatter="actionFormatter" data-events="operateEvents">actions</th>-->
          </tr>
        </thead>
      </table>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-table.min.js') }}" charset="utf-8"></script>
<script>
    function fetchdevices(){
        $.getJSON(
            "_cameras",
            function(data){
                $('#table').bootstrapTable({
                data: data
                });
                $('#table').bootstrapTable('refresh');
            }
        );
    }
    setInterval(fetchdevices, 1000);
</script>

{% endblock %}