{% extends 'base.html' %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<!-- TODO: establish a connection with satellite reception -->
{% if n_cams %}
    {% for cam in n_cams %}
    <div class="container">
        <div class="row">
            <div class="col">
                <b>Camera: {{ cam }}</b>
            </div>
            <div class="col">
                <b>STATUSS!!!</b>
            </div>
            <div class="col">
                <b>Thumbnail</b>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
{{super()}}
Script for fetching the camera statuses continuously
<script>
    function fetchdata(){
        $.getJSON(
            "_cameras",
            function(data){
                $("#output").text(data.camera1);
                // Update the value in your table here
            }
        );
    }
    setInterval(fetchdata, 1000)
</script>


<!-- TODO consider reusing parts of stuff below -->
{% endblock %}