{% extends 'base.html' %}

{% block styles %}
{{super()}}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='lib/leaflet.css') }}">-->
{% endblock %}

{% block content %}
<!-- TODO: establish a connection with satellite reception -->
{% if n_cams %}
    {% for cam in n_cams %}
    <div class="container">
        <div class="row">
            <div class="col">
                <b>Camera: {{ cam }}</b>
            </div>
            <div class="col">
                <b>STATUSS!!!</b>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}

{% block scripts %}
{{super()}}
<!-- TODO consider reusing parts of stuff below -->
{% endblock %}