{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-table.min.css') }}">
{{super()}}
{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
    <div id="query_files"></div>
<!--    <form action="" method="POST">-->
    <div class="row">
        <div class="col py-3 border bg-light">
            <b>Select project</b>
                <select name="project" id="project">
                    {% if projects %}
                      {% for project_id, project_name in projects %}
                        {% if project_id == cur_project_id %}
                          <option selected value="{{ project_id }}">{{ project_name }}</option>
                        {% else %}
                          <option value="{{ project_id }}">{{ project_name }}</option>
                        {% endif %}
                      {% endfor %}
                  {% endif %}
                </select>
        </div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light">
            <b>Select survey</b>
                <select name="survey" id="survey">
                    {% if surveys %}
                      {% for survey_run in surveys %}
                        {% if survey_run == cur_project_id %}
                          <option selected value="{{ survey_run }}">{{ survey_run }}</option>
                        {% else %}
                          <option value="{{ survey_run }}">{{ survey_run }}</option>
                        {% endif %}
                      {% endfor %}
                  {% endif %}
                </select>
        </div>
    </div>
    <button onclick="fetchFiles()" id="query" name="query" class="btn btn-primary">Submit</button>
    <br>
    <br>
<!--    </form>-->
</div>
<br>
<div class="container">
    <table id="logtable" data-toggle="table">
        <thead>
          <tr>
            <th data-field="device_uuid" data-sortable="true">Device uuid</th>
            <th data-field="photo_filename" data-sortable="true">File name</th>
            <th data-field="survey_run" data-sortable="true">Survey run</th>
<!--            <th data-field="size" data-sortable="true">size (MB)</th>-->
<!--            <th data-field="actions" data-formatter="actionFormatter" data-events="operateEvents">actions</th>-->
          </tr>
        </thead>
      </table>
    We only show the files relevant for the project
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-table.min.js') }}" charset="utf-8"></script>
<script>
function loadTable()
{
    $(function () {
      $('#logtable').bootstrapTable({
      });
    });
}
function fetchFiles(){
    $.getJSON(
        "_files",
        {
            project_id: $('#project').val()
        },
        function(data){
            $('#logtable').bootstrapTable("load", data);
        }
    );
}
loadTable();
<!--document.getElementById("query").onclick(fetchFiles())-->

</script>
{% endblock %}