{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-table.min.css') }}"
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap4-toggle.min.css') }}"

      xmlns="http://www.w3.org/1999/html">
{{super()}}
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div id="query_files"></div>
    <div class="row">
        <div class="col py-3 border bg-light">
            <b>Select project</b>
            <select class="btn btn-primary dropdown-toggle" name="project" id="project">
                {% if projects %}
                  {% for project_id, project_name in projects %}
                    {% if project_id == cur_project_id %}
                      <option selected value="{{ project_id }}">{{ project_name }}</option>
                    {% else %}
                      <option value="{{ project_id }}">{{ project_name }}</option>
                    {% endif %}
                  {% endfor %}
              {% endif %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light">
            <b>Select survey</b>
                <select class="btn btn-primary dropdown-toggle" name="survey" id="survey">
<!--                    {% if surveys %}-->
<!--                      {% for survey_run in surveys %}-->
<!--                        {% if survey_run == cur_project_id %}-->
<!--                          <option selected value="{{ survey_run }}">{{ survey_run }}</option>-->
<!--                        {% else %}-->
<!--                          <option value="{{ survey_run }}">{{ survey_run }}</option>-->
<!--                        {% endif %}-->
<!--                      {% endfor %}-->
<!--                  {% endif %}-->
                </select>
        </div>
    </div>
    <br>
    <button id="query" name="query" class="btn btn-primary">
        Load</button>
    <button id="download" name="download" class="btn btn-primary" type="button" disabled>
        Download</button>
    <button id="delete" name="delete" class="btn btn-danger" type="button" disabled>
        Delete</button>
    <br>
</div>
<br>
<div class="container">
    <div class="row">
    <table
            id="logtable">
        <thead>
          <tr>
            <th data-field="device_uuid" data-sortable="true">Device uuid</th>
            <th data-field="photo_filename" data-sortable="true">File name</th>
            <th data-field="survey_run" data-sortable="true">Survey run</th>
<!--            <th data-field="actions" data-formatter="actionFormatter" data-events="operateEvents">actions</th>-->
          </tr>
        </thead>
      </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-table.min.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap4-toggle.min.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='files.js') }}" charset="utf-8"></script>
{% endblock %}
