{% extends 'base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap4-toggle.min.css') }}">

{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
<br><br>
<form action="/project" method="POST">
    <div id="main_service_space" class="form-group">
        <div class="row">
            <div class="col py-3 border bg-light">
                <b>Project name: </b>
                <div class="form-group" id="project_name">
                    <input type="text" class="form-control" name="project_name" placeholder="string">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col py-3 border bg-light">
                <b>Amount of cameras </b>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="whole number" name="n_cams" min="1" max="10">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col py-3 border bg-light">
                <b>Photo time interval</b>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="interval in (s)" name="dt" min="0" max="100">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap4-toggle.min.js') }}" charset="utf-8"></script>
{% endblock %}