{% extends 'base.html' %}

{% block styles %}
{{super()}}

{% endblock %}

{% block content %}
<div class="container">
<br><br>
<form action="/settings" method="POST">
<div id="settings_service_space" class="form-group">
    <div class="row">
        <div class="col py-3 border bg-light">
            <b>SSID</b>
            <div class="form-group">
                <input type="text" class="form-control" name="ssid" placeholder="WiFi SSID">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light">
            <b>Pass phrase</b>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="psk-password">
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col py-3 border bg-light">
        <b>Debug log level</b>
          <select class="btn btn-primary dropdown-toggle" name="loglevel" id="loglevel">
            <option value="debug">DEBUG</option>
            <option value="info">INFO</option>
          </select>
    </div>
</div>

    <br>
    <button type="submit" name="submit_button" value="save" class="btn btn-primary">Save</button>
    <button type="submit" name="submit_button" value="hotspot" class="btn btn-primary">WiFi Hotspot</button>
</div>
</form>
<br>
This page is not finalized yet and may not work.

{% endblock %}


{% block scripts %}
{{super()}}
<!--<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap4-toggle.min.js') }}" charset="utf-8"></script>-->
{% endblock %}