{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% block styles %}
{{ super() }}

{% endblock %}
{% endblock %}
{% block content %}
{{ super() }}
<div class="container">
<br><br>
<form action="/settings" method="POST">
<div id="settings_service_space" class="form-group">
    <div class="row">
        <div class="col">
            <b>SSID</b>
            <div class="form-group">
                <input type="text" class="form-control" name="ssid" placeholder="WiFi SSID">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col py-3">
            <b>Pass phrase</b>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="psk-password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col py-3">
        <button type="submit" name="submit_button" value="save" class="btn btn-primary">Save</button>
        <button type="submit" name="submit_button" value="hotspot" class="btn btn-primary">WiFi Hotspot</button>
        </div>
    </div>
</div>
</form>

<form>
  <div class="form-group row">
    <label for="loglevel" class="col-sm-2 col-form-label">Log level</label>
    <div class="input-group-prepend">
          <select class="btn btn-primary dropdown-toggle" name="loglevel" id="loglevel">
            <option value="debug">DEBUG</option>
            <option value="info">INFO</option>
          </select>
    </div>
  </div>
</form>
<form action="/settings" method="POST" enctype="multipart/form-data">
    <div class="form-group row">
        <div class="input-group mb-3">
          <label for="customFile" class="col-sm-2 col-form-label">Upload logo</label>
          <div class="input-group-prepend">
            <button name="submit_button" value="logo" class="btn btn-primary" type="submit">Upload</button>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile" name="filename" accept="image/*">
            <label class="custom-file-label" for="customFile">Select file</label>
          </div>
    <!--      <div class="mt-3">-->
    <!--        <button name="submit_button" value="logo" type="submit" class="btn btn-primary">Upload</button>-->
    <!--      </div>-->
        </div>
    </div>
</form>
<br>
This page is not finalized yet and may not work.

</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
<!--<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap4-toggle.min.js') }}" charset="utf-8"></script>-->
{% endblock %}