{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/buttons.css') }}">
{% endblock %}

{% block content %}
<!-- TODO: establish a connection with satellite reception -->
<br>
<div class="container">
    <div id="bar-chart"></div>
    <div class="row">
        <div class="col py-3 border bg-light">
            <b>Select project</b>
            <form action="" method="POST">
                <select name="project" id="project">
                    {% if projects %}
                      {% for project_id, project_name in projects %}
                        {% if project_id == cur_project_id %}
                          <option selected value="{{ project_id }}">{{ project_name }}</option>
                        {% else %}
                          <option value="{{ project_id }}">{{ project_name }}</option>
                        {% endif %}
                      {% endfor %}
                  {% endif %}
                </select>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>Latitude: </b><span id="lat_value"></span></div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>Longitude: </b><span id="lon_value"></span></div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>Height: </b><span id="height_value"></span></div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>Solution type: </b><span id="solution_value"></span></div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>PDOP: </b><span id="pdop_value"></span></div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>Satellites: </b><span id="sat_nr"></span></div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>Total cameras online: </b><span id="cam_total">?</span></div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>Cameras ready: </b><span id="cam_ready">?</span></div>
    </div>
    <br>
    <div class="row">
        <div class="col"><b>Main service:</b></div>
        <div class="col">
        <form action="" method="POST">
            <label class="switch">
                {% if service_active==3 %}
                  <input name="service" id="service" type="checkbox" checked>
                {% else %}
                  <input name="service" id="service" type="checkbox">
                {% endif %}
              <span class="slider round"></span>
            </label>
        </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<!-- TODO consider reusing parts of stuff below -->
<!--<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap4-toggle.min.js') }}" charset="utf-8"></script>-->
<script>
function get_cam_sum() {
    $.getJSON("_cam_summary",
            function (data) {
                $('#cam_ready').text(data.ready)
                $('#cam_total').text(data.total)
            }
    );
}
setInterval('get_cam_sum()', 1000);
</script>
<script type="text/javascript">
  jQuery(function() {
    jQuery('#project').change(function() {
        this.form.submit();
    });
});
</script>
<script type="text/javascript">
  jQuery(function() {
    jQuery('#service').change(function() {
        this.form.submit();
    });
});
</script>

{% endblock %}