{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-table.min.css') }}">
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='lib/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='lib/leaflet.css') }}">
{% endblock %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="row">
    <table id="table">
        <thead>
          <tr>
            <th data-field="device_uuid" data-sortable="true">Device uuid</th>
            <th data-field="device_stream" data-sortable="true">VLC link</th>
<!--            <th data-field="ip" data-sortable="true">IP address</th>-->
            <th data-field="status" data-sortable="true">Status</th>
            <th data-field="device_no" data-sortable="true">Device no.</th>
            <th data-field="last_photo" data-sortable="true">Last photo</th>
<!--            <th data-field="actions" data-formatter="actionFormatter" data-events="operateEvents">actions</th>-->
          </tr>
        </thead>
      </table>
    </div>
<!--</div>-->
<!--<br>-->
<!--<br>-->

<!--<div class="container">-->
    <div class="row">
        <div class="col-md-6 py-3">
<!--            <div class="container">-->
            <b>Select project:</b>
            <form action="" method="POST">
                <select onchange="this.form.submit()" class="btn btn-primary dropdown-toggle" name="project" id="project">
                    {% if projects %}
                      {% for project_id, project_name in projects %}
                        {% if project_id == cur_project_id %}
                          <option name="project_select" selected value="{{ project_id }}">{{ project_name }}</option>
                        {% else %}
                          <option name="project_select" value="{{ project_id }}">{{ project_name }}</option>
                        {% endif %}
                      {% endfor %}
                  {% endif %}
                </select>
            </form>
<!--            </div>-->
<!--            <div class="container">-->
                <b>Main service:</b>
                <form action="" method="POST">
                    <label class="switch">
                        {% if service_active==3 %}
                          <input name="service" id="service" type="checkbox" checked>
                        {% else %}
                          <input name="service" id="service" type="checkbox">
                        {% endif %}
                      <span class="slider round"></span>
                    </label>
                </form>
<!--            </div>-->
        </div>
        <div class="col-md-6 py-3">
            <b>Video preview:</b>
            <form action="" method="POST">
                <button type="submit" id="play-btn" name="play-btn" class="btn btn-primary">
                    Play</button>
            </form>
            <br>
            <form action="" method="POST">
                <button type="submit" id="stop-btn" name="stop-btn" class="btn btn-danger">
                    Stop</button>
            </form>
        </div>
    </div>
    <div class="row">
    <div class="col">
        <div id="map" style="height: 420px; margin-top: 2em; margin-bottom: 2em;"></div> <!--; margin-top: 2em; margin-bottom: 2em;"></div>-->
    </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-table.min.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/leaflet.js') }}" charset="utf-8"></script>
<script>
var baseCoordinates = {'lat': 0, 'lon': 0}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='status.js') }}" charset="utf-8"></script>

{% endblock %}