{% extends 'base.html' %}

{% block styles %}
{{super()}}
<!--<link rel="stylesheet" href="{{ url_for('static', filename='lib/leaflet.css') }}">-->
{% endblock %}

{% block content %}
<!-- TODO: establish a connection with satellite reception -->
<div class="container">
    <div id="bar-chart"></div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>Latitude: </b><span id="lat_value"></span></div>
        <div class="col py-3 border bg-light"><b>Longitude: </b><span id="lon_value"></span></div>
        <div class="col py-3 border bg-light"><b>Height: </b><span id="height_value"></span></div>
    </div>
    <div class="row">
        <div class="col py-3 border bg-light"><b>Solution type: </b><span id="solution_value"></span></div>
        <div class="col py-3 border bg-light"><b>PDOP: </b><span id="pdop_value"></span></div>
        <div class="col py-3 border bg-light"><b>Satellites: </b><span id="sat_nr"></span></div>
    </div>

</div>

{% endblock %}

{% block scripts %}
{{super()}}
<!-- TODO consider reusing parts of stuff below -->
<!--<script type="text/javascript" src="{{ url_for('static', filename='graph.js') }}" charset="utf-8"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='status.js') }}" charset="utf-8"></script>-->
{% endblock %}