[Unit]
Description=odm360 child
After=network.target

[Service]
ExecStart=/usr/bin/python3 -m odm360
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
