[Unit]
Description=GNSS logging
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/log_ubx.py
WorkingDirectory=/home/pi/
User=pi
Restart=on-abort
StandardOutput=file:/home/pi/log.txt
StandardError=file:/home/pi/error.log

[Install]
WantedBy=multi-user.target
