[Unit]
Description=uWSGI instance to serve odm360dashboard
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/home/pi/libre360
ExecStart=/usr/local/bin/uwsgi --http :5000 --ini /home/pi/libre360/uwsgi.ini

[Install]
WantedBy=multi-user.target
